service cloud.firestore {  
  match /databases/{database}/documents {
    match /users/{userId}/blogs/{blogId} {
      function isUndefined(resource, field) {
        return !resource.keys().hasAny([field])
      }

      allow read: if request.auth.uid == userId;
      allow delete: if request.auth.uid == userId;
      allow create, update: if request.auth.uid == userId
          && request.resource.data.keys().hasOnly(["title", "url", "feedURL", "feedType", "timestamp", "services"])
          && request.resource.data.title is string
          && request.resource.data.url is string
          && request.resource.data.feedURL is string
          && request.resource.data.feedType is string
          && request.resource.data.timestamp is timestamp
          && request.resource.data.services is map
          && request.resource.data.services.keys().hasOnly(["twitter", "facebook", "hatenabookmark", "hatenastar", "pocket"])
          && request.resource.data.services.twitter is bool
          && request.resource.data.services.facebook is bool
          && request.resource.data.services.hatenabookmark is bool
          && request.resource.data.services.hatenastar is bool
          && request.resource.data.services.pocket is bool;

      match /items/{itemId} {
        function checkCountFields(resource, countType) {
          return isUndefined(resource, countType)
            || (resource[countType] is map
              && resource[countType].hasOnly(["count", "timestamp"])
              && resource[countType].count is number
              && resource[countType].timestamp is timestamp);
        }

        allow read: if request.auth.uid == userId;
        allow delete: if request.auth.uid == userId;
        allow create, update: if request.auth.uid == userId
          && request.resource.data.keys().hasAll(["title", "url", "published"])
          && request.resource.data.title is string
          && request.resource.data.url is string
          && request.resource.data.published is timestamp
          && (isUndefined(request.resource.data, "count") 
            || (request.resource.data.count is map 
              && checkCountFields(request.resource.data.count, "facebook")
              && checkCountFields(request.resource.data.count, "hatenabookmark")
              && checkCountFields(request.resource.data.count, "hatenastar")
              && checkCountFields(request.resource.data.count, "pocket")))
          && (isUndefined(request.resource.data, "prevCount") 
            || (request.resource.data.prevCount is map
              && checkCountFields(request.resource.data.prevCount, "facebook")
              && checkCountFields(request.resource.data.prevCount, "hatenabookmark")
              && checkCountFields(request.resource.data.prevCount, "hatenastar")
              && checkCountFields(request.resource.data.prevCount, "pocket")));
	    }
    }
  }
}