service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/blogs/{blogId} {
      allow read: if request.auth.uid == userId;
      allow write: if request.auth.uid == userId && request.resource.data.timestamp == request.time;
      match /items/{itemId} {
        allow read: if request.auth.uid == userId;
        allow write: if request.auth.uid == userId && request.resource.data.timestamp == request.time;
	    }
    }
  }
}