# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:stretch-node-browsers-legacy

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v2-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v2-dependencies-

      - run: yarn install

      - save_cache:
          paths:
            - node_modules
          key: v2-dependencies-{{ checksum "package.json" }}

      # run tests!
      - run: yarn eslint
      - run: yarn test:compile
      - run: yarn firebase setup:emulators:firestore
      - run:
          # Firestore Emulator bind host to = [::1]:8080. Unfortunately CircleCI cannot handle IPv6 address.
          # Launch jar file directory and override host to IPv4 address.
          # command: yarn firebase serve --only firestore
          command: java -jar $HOME/.cache/firebase/emulators/cloud-firestore-emulator-v1.4.6.jar --host=127.0.0.1
          background: true
      - run: yarn test:ci
      - persist_to_workspace:
          root: .
          paths:
            - .

  deploy_development:
    docker:
      - image: circleci/node:8.14
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: .

      - restore_cache:
          keys:
          - v2-dependencies-functions-{{ checksum "functions/package.json" }}
          - v2-dependencies-functions-

      - run: cd functions && yarn install && cd ..

      - save_cache:
          paths:
            - functions/node_modules
          key: v2-dependencies-functions-{{ checksum "functions/package.json" }}

      - run: yarn build
      - run: yarn firebase deploy --project development --token "$FIREBASE_TOKEN_DEVELOPMENT"
      - run: yarn deploy-storybook -- --ci

  deploy_production:
    docker:
      - image: circleci/node:8.14
    working_directory: ~/repo
    steps:
      - attach_workspace:
          at: .

      - restore_cache:
          keys:
          - v2-dependencies-functions-{{ checksum "functions/package.json" }}
          - v2-dependencies-functions-

      - run: cd functions && yarn install && cd ..

      - save_cache:
          paths:
            - functions/node_modules
          key: v2-dependencies-functions-{{ checksum "functions/package.json" }}

      - run: yarn build:production
      - run: yarn firebase deploy --project production --token "$FIREBASE_TOKEN_PRODUCTION"

workflows:
  version: 2
  test_and_deploy:
    jobs:
      - build:
          filters:
            branches:
              ignore: gh-pages
      - deploy_development:
          requires:
            - build
          filters:
            branches:
              only: master
      - request_manual_testing:
          type: approval
          requires:
            - build
          filters:
            branches:
              only: master
      - deploy_production:
          requires:
            - request_manual_testing
          filters:
            branches:
              only: master

