head
  link(rel="stylesheet", href="/css/mail.css", data-inline)
body  
  header
  div.content
    div.buttons
      img.icon(src="https://blog-feedback.app/icon-192x192.png")

    p BlogFeedbackにご登録いただきまして、誠にありがとうございます。
      br
      | 今後ともよろしくお願いいたします。

    div.buttons
      a.primary-button(href="https://blog-feedback.app")
        span BlogFeedbackを開く

    hr.line
    ul.signature
      li BlogFeedback運営 
        a(href="https://twitter.com/ninjinkun") @ninjinkun
      li 改善等のご要望は、上記の Twittter アカウントまたは 
        a(href="https://github.com/ninjinkun/blog-feedback-app") GitHub
        |  の Issues までお寄せください。
