table.entry-cell-content-buttons-button-wrapper-button
    tr
    td.entry-cell-content-buttons-button-wrapper-button-icon-wrapper
        img.entry-cell-content-buttons-button-wrapper-button-icon(src=`https://feedback-5e26f.firebaseapp.com/images/${iconType}-icon.png`)
    td.entry-cell-content-buttons-button-wrapper-button-count
        | #{count.count}
        if count.updatedCount > 0
        span.entry-cell-content-buttons-button-wrapper-button-count-text (
            span.entry-cell-content-buttons-button-wrapper-button-count-update +#{count.updatedCount}
            | )
